canvas {
    background: #eee;
    /* scale: 4; */
}

html, body {
    width:  100%;
    height: 100%;
    margin: 0;
    overflow: hidden;

    background-color: #101010;
}

/* make loading bar centered on the screen, above all other elements */
#loading-bar {    
    image-rendering: pixelated;
    scale: 8;
    
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 9999; /* higher z-index to ensure it's above other elements */
}

audio {
    /* display: none; */
    background-color: #4d4d4d;
}

.looping-audio {
    background-color: #1d4483;
}