canvas {
    background: #eee;
    /* scale: 4; */
}

html, body {
    width:  100%;
    height: 100%;
    margin: 0;
    overflow: hidden;

    background-color: #101010;
}

/* make element centered on the screen, above all other elements */
#loading-bar {    
    image-rendering: pixelated;
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 9999; /* higher z-index to ensure it's above other elements */
}